<!DOCTYPE html>
<html>
<head>
    <title>Add Student and Health Record</title>
</head>
<body>
    <h1>Add New Student & Health Record</h1>
    <form method="post">
        <label>Name:</label>
        <input type="text" name="name" required><br>

        <label>Gender:</label>
        <select name="gender" required>
            <option value="">Select...</option>
            <option value="F">F</option>
            <option value="M">M</option>
        </select><br>

        <label>Weight:</label>
        <input type="text" name="weight" required><br>

        <label>Height:</label>
        <input type="text" name="height" required><br>

        <input type="submit" value="Add Student & Record">
    </form>
    <br>
    <a href="/">Back to home</a>
</body>
</html>